{{#if hasBlock}}
  {{yield infinityModelContent}}
{{else}}
  {{#if infinityModelContent.reachedInfinity}}
    <span>{{loadedText}}</span>
  {{else}}
    <span>{{loadingText}}</span>
  {{/if}}
{{/if}}
