{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if buttonMode}}
    <button class={{buttonClass}} {{action 'loadMore'}}>{{buttonText}}</button>
  {{else}}
    {{#if infinityModel.reachedInfinity}}
      <span>{{loadedText}}</span>
    {{else}}
      <span>{{loadingText}}</span>
    {{/if}}
  {{/if}}
{{/if}}
