<ul class="demo-items">
  <button class="filter-posts" onclick={{action filterPosts model}}>Filter Posts</button>
  <button class="flush-posts" onclick={{action flushPosts model}}>Flush Posts</button>
  {{#each model as |item|}}
    <li>{{item.id}} · {{item.name}}</li>
  {{/each}}

  {{infinity-loader infinityModel=model}}
</ul>
