<h2 id="posts-title">Listing Posts</h2>

<div class="posts">
  <InfinityLoader
    @classNames="infinity-loader-above"
    @infinityModel={{this.model}}
    @loadPrevious={{true}}
    @loadingText={{null}}
    @loadedText={{null}}
  />

  {{#each this.model as |post|}}
    <p>{{post.name}}</p>
  {{/each}}

  <InfinityLoader
    @classNames="infinity-loader-bottom"
    @infinityModel={{this.model}}
    @triggerOffset={{this.triggerOffset}}
    @loadingText="loading"
    @loadedText="loaded"
  />
</div>