<h2 id="posts-title">Listing Posts</h2>

<ul id="test-list" class="test-list-scrollable">
  <InfinityLoader
    @classNames="infinity-loader-above"
    @infinityModel={{this.model}}
    @loadPrevious={{true}}
    @loadingText={{null}}
    @loadedText={{null}}
    @scrollable="#test-list"
  />

  {{#each this.model as |post|}}
    <li>{{post.name}}</li>
  {{/each}}

  <InfinityLoader
    @classNames="infinity-loader-bottom"
    @infinityModel={{this.model}}
    @triggerOffset={{this.triggerOffset}}
    @loadingText="loading"
    @loadedText="loaded"
    @scrollable="#test-list"
  />
</ul>