{{#if this.isVisible}}
  <div
    {{did-insert this.didInsertLoader this}}
    {{will-destroy this.willDestroyLoader this}}
    class="{{loaderClassNames}}{{if this.viewportEntered " in-viewport"}}{{if this.isDoneLoading " reached-infinity"}}"
    data-test-infinity-loader>

    {{#if hasBlock}}
      {{yield this.infinityModelContent}}
    {{else}}
      {{#if this.isDoneLoading}}
        <span>{{@loadedText}}</span>
      {{else}}
        <span>{{@loadingText}}</span>
      {{/if}}
    {{/if}}

  </div>
{{/if}}
